.main-bar
  .header
    %h.image
      = image_tag "logo.png" , size: "160x100"
    

.contents
  .contents__message
    新規会員登録
  = link_to "https://mail.google.com/mail/u/0/?tab=rm1#inbox/", class: "contents__btn--envelope" do
    = icon('fas', 'envelope',class: "contents__btn--icon")
    メールアドレスで登録する
  = link_to "https://www.facebook.com/", class: "contents__btn--facebook" do
    = icon('fab', 'facebook-square',class: "contents__btn--icon")
    Facebookで登録する
      
  = link_to "https://google.com/", class: "contents__btn--google" do
    = icon('fab', 'google',class: "contents__btn--icon")
    Googleで登録する


.footer
  %h.image
    = image_tag "logo.png" , size: "130x70"