.order-container
  .order-header
    .order-header__inner
      = link_to image_tag('logo.png'),"#"
  .order-main
    .order-panel
      %p.order-panel__title 購入内容の確認
      .order-panel__item-box
        .order-panel__item-box-inner
          .order-panel__item-box-inner__content
            .order-panel__item-box-inner__content--about
              = image_tag('image02.jpg',class: "order-panel__item-box-inner__content--about-image")
            .order-panel__item-box-inner__detail
              %p.order-panel__item-box-inner__detail-name カメラ
              %p.order-panel__item-box-inner__detail-price
                %span ¥15,000
                %span  (送料込み)
      .order-panel__item-box
        .order-panel__item-box-inner
          .order-panel__item-box-inner__payment
            %p.order-panel__item-box-inner__payment-message
              支払い金額
            %p.order-panel__item-box-inner__payment-price
              ¥15,000
          .order-panel__item-box-inner__point
            %p.order-panel__item-box-inner__point-message
              ポイントはありません
          .order-panel__item-box-inner__info
            .order-panel__item-box-inner__info-inner
              %p.order-panel__item-box-inner__info-inner-title
                支払い方法
              = link_to "変更する", "#", class: "order-panel__item-box-inner__info-inner-btn"
            %p.order-panel__item-box-inner__info-detail
              クレジットカード
              %br
              ************0000
              %br
              有効期限 00 / 00
            .order-panel__item-box-inner__info-detail-logo
          .order-panel__item-box-inner__info
            .order-panel__item-box-inner__info-inner
              %p.order-panel__item-box-inner__info-inner-title
                配送先
              = link_to "変更する", "#", class: "order-panel__item-box-inner__info-inner-btn"
            %p.order-panel__item-box-inner__info-detail
              〒560-0032
              %br
              大阪府大阪市淀川区
              %br
              淀川太郎
          .order-panel__item-box-inner__info
            .order-panel__item-box-inner__info-inner
              = link_to "購入する", "#", class: "order-panel__item-box-inner__info-order-btn"
  .footer-container
    %ul.footer-container__list
      %li
        = link_to  "プライバシーポリシー", "#", class: "footer-container__list-inner"
      %li
        = link_to  "フリマ利用規約", "#",class: "footer-container__list-inner"
      %li
        = link_to  "特定商品取引に関する表記", "#", class: "footer-container__list-inner"
    = link_to image_tag('logo-white.png', class: "footer-container__logo", size: '100x65'), "#"
    .footer-container__text
      %small
        = "©︎ #{Time.now.year} FURIMA"












            






