.order-container
  .order-header
    .order-header__inner
      = link_to image_tag('logo.png'),"root_path"
  .order-main
    .order-panel
      %p.order-panel__title 購入内容の確認
      .order-panel__item-box
        .order-panel__item-box-inner
          .order-panel__item-box-inner__content
            .order-panel__item-box-inner__content--about
              = image_tag('image02.jpg',class: "order-panel__item-box-inner__content--about-image")
            .order-panel__item-box-inner__detail
              %p.order-panel__item-box-inner__detail-name 
                = "#{@product.name}"
              %p.order-panel__item-box-inner__detail-price
                %span 
                  = "¥#{@product.price.to_s(:delimited)}"
                %span  (送料込み)
      .order-panel__item-box
        .order-panel__item-box-inner
          .order-panel__item-box-inner__payment
            %p.order-panel__item-box-inner__payment-message
              支払い金額
            %p.order-panel__item-box-inner__payment-price
              = "¥#{@product.price.to_s(:delimited)}"
          .order-panel__item-box-inner__point
            %p.order-panel__item-box-inner__point-message
              ポイントはありません
          .order-panel__item-box-inner__info
            .order-panel__item-box-inner__info-inner
              %p.order-panel__item-box-inner__info-inner-title
                支払い方法
              = link_to "変更する", "#", class: "order-panel__item-box-inner__info-inner-btn"
            %p.order-panel__item-box-inner__info-detail
              クレジットカード
              %br
                = "**** **** ****"+ "#{@default_card_information.last4}"
              %span
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = "有効期限" + " " + exp_month + " / " + exp_year
              .order-panel__item-box-inner__info-detail-logo
                = image_tag "#{@card_src}", size: '50x15'
          .order-panel__item-box-inner__info
            .order-panel__item-box-inner__info-inner
              %p.order-panel__item-box-inner__info-inner-title
                配送先
              = link_to "変更する", "#", class: "order-panel__item-box-inner__info-inner-btn"
            %p.order-panel__item-box-inner__info-detail
              〒560-0032
              %br
              大阪府大阪市淀川区
              %br
              淀川太郎
          .order-panel__item-box-inner__info
            .order-panel__item-box-inner__info-inner
              = link_to "購入する", pay_order_path, method: :post,  class: "order-panel__item-box-inner__info-order-btn"
  .footer-container
    %ul.footer-container__list
      %li
        = link_to  "プライバシーポリシー", "#", class: "footer-container__list-inner"
      %li
        = link_to  "フリマ利用規約", "#",class: "footer-container__list-inner"
      %li
        = link_to  "特定商品取引に関する表記", "#", class: "footer-container__list-inner"
    = link_to image_tag('logo-white.png', class: "footer-container__logo", size: '100x65'), "#"
    .footer-container__text
      %small
        = "©︎ #{Time.now.year} FURIMA"