.body
  .content
    .header
      .header__logo
        = link_to image_tag('logo.png', class: 'header_logo'), '#'

    .itemphoto
      .itemphoto__box
        .itemphoto__box__label
          出品画像
          %span.required
            必須
        .itemphoto__box__content
          最大10枚までアップロードできます
        .itemphoto__box__select
          = fields_for "#" do |f|
            = icon('fas','camera')
            = f.file_field :image, class: "select_img_1", type: "file", id: "select_img_1", name: "images[]"
            .itemphoto__box__select__form
              %label{for: "select_img_1", class: 'content__box__dropbox__1'}
                .itemphoto__box__select__form__text
                  ドラッグアンドドロップ
                  %br/
                  またはクリックしてファイルをアップロード

    .itemSummary
      .itemSummary__name
        .itemSummary__name__label
          商品名
          %span.required
            必須
        .itemSummary__name__box
        = fields_for "#" do |f|
          = f.text_field :text, class:"item_name_textbox", maxlength:40, placeholder: "40文字まで"
      .itemSummary__description
        .itemSummary__description__label
          商品の説明
          %span.required
            必須
        .itemSummary__description__box
        = fields_for "#" do |f|
          = f.text_area :text, class:"item_name_area", maxlength:1000, placeholder: text_placeholder
        .itemSummary__description__counter
          0/1000
    %hr{color: "#efefef"}

    .itemDetails
      .itemDetails__title
        商品の詳細
      .itemDetails__catagorie
        .itemDetails__catagorie__label
          カテゴリー
          %span.required
            必須
        .itemDetails__catagorie__box
        = fields_for "#" do |f|
          = f.text_field :text, class:"item_categorie_list", placeholder: "選択してください"
      .itemDetails__brand
        .itemDetails__brand__label
          ブランド
          %span.any
            任意
        .itemDetails__brand__box
        = fields_for "#" do |f|
          = f.text_field :text, class:"item_brand", placeholder: "例）シャネル"
      .itemDetails__status
        .itemDetails__status__label
          商品の状態
          %span.required
            必須
        .itemDetails__status__box
        = fields_for "#" do |f|
          = f.text_field :text, class:"item_status_list", placeholder: "選択してください"
    %hr{color: "#efefef"}

    .itemDelivery
      .itemDelivery__caution
        配送について
        = link_to "https://www.mercari.com/jp/help_center/article/68/" do
          = icon("far", "question-circle", class: "question")
      .itemDelivery__cost
        配送料の負担
        %span.required
          必須
      .itemDelivery__box
      = fields_for "#" do |f|
        = f.text_field :text, class:"delivery_cost_list", placeholder: "選択してください"
      .itemDelivery__area
        配送元の地域
        %span.required
          必須
      .itemDelivery__box
      = fields_for "#" do |f|
        = f.text_field :text, class:"delivery_area_list", placeholder: "選択してください"
      .itemDelivery__days
        配送までの日数
        %span.required
          必須
      .itemDelivery__box
      = fields_for "#" do |f|
        = f.text_field :text, class:"delivery_days_list", placeholder: "選択してください"
    %hr{color: "#efefef"}

    .itemprice
      .itemprice__content
        .itemprice__content__range
          価格（¥300〜9,999,999）
          = link_to "https://www.mercari.com/jp/help_center/article/64/" do
            = icon("far", "question-circle", class: "question")
        .itemprice__content__label
          販売価格
          %span.required
            必須
          %span.yen
            ¥
          = fields_for "#" do |f|
            = f.number_field :text, class:"delivery_days_list", value: 0
        .itemprice__content__commission
          販売手数料（10%）
          %span.minus
            ―
        %hr{color: "#efefef"}
        .itemprice__content__profit
          販売利益
          %span.minus
            ―
      .itemprice__Exhibition
        .itemprice__Exhibition__btn
          %button.exhibition 出品する
        .itemprice__Exhibition__draft
          %button.draft 下書きに保存
        .itemprice_Exhibition__Return
          .itemprice_Exhibition__Return__btn
            = link_to "もどる", "#", class: "back"
      .itemprice__caution
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

    .footer
      .footer__ul
      %ul
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
      .footer__logo
        = link_to image_tag('logo.png', class: 'footer_logo'), '#'
      .footer__trademark
        © FURIMA, Inc.