= render"layouts/header"
.main
  %section.mainVisual
    .content
      %h2.content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
        .content__btn
          = link_to "#", class: "aBtn" do
            = image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: "APP"
          = link_to "#", class: "gBtn" do
            = image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: "GOOGLE"
    .picture
  %section.topIntroduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag "pict-reason-01.jpg"
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag "pict-reason-02.jpg"
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
        めんどくいさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--last
        .list__pict
          %span.number 3
          = image_tag "pict-reason-03.jpg"
        %h3.list__text 
          手数料
          %span 業界最安
        %p.list__description
        最大3%でお得に出品&購入！
  %section.topMiddleDl
    .topMiddleDl__inner
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気!
        %br/
        出品・購入回数も業界さい最多です！
        %br/
        ほしかったあの商品に出会えるかも知れません。
      .btn
        = link_to "#", class: "aBtn" do
          = image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: "APP"
        = link_to "#", class: "gBtn" do
          = image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: "GOOGLE"
  %section.topKeyFeatures
    %h2.head
      FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag "icon-01.png"
        %h3.item__subtitle
          簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag "icon-03.png"
        %h3.item__subtitle
          売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込み依頼いただければ、翌日に指定の口座に入金いたします！
      %section.item
        %figure.item__img
          = image_tag "icon-04.png"
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法ああります。
  %section.pickupContainer
    %h2.head ピックアップカテゴリー
    .productBox
      .productHead
        = link_to "新規投稿商品", "#", class: "title"
      .productLists
        .productList
          = link_to 'products/3' do
            %figure.productList--img
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", height: '150px;', width: '220px;'
            .productList--body
              %h3.name product3
              .details
                %ul
                  %li 30000円
                  %li
                    =icon('fa', 'star', class: 'linkicon')
                    0
                %p (税込)
        .productList
          = link_to  'products/2' do
            %figure.productList--img
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", height: '150px;', width: '220px;'
            .productList--body
              %h3.name product2
              .details
                %ul
                  %li 20000円
                  %li
                    = icon("fa", "star", class: "linkicon")
                    0
                %p (税込)
        .productList
          = link_to'products/1' do
            %figure.productList--img
              = image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", height: '150px;', width: '220px;'
            .productList--body
              %h3.name product1
              .details
                %ul
                  %li 10000円
                  %li
                    = icon("fa", "star", class: "linkicon")
                    0
                %p (税込)
  .pickupContainer
    %h2.head ピックアップブランド
    .productBox
      .productHead
        = link_to "アーカイバ", "#", class: "title"
      .productLists
        .productList
          = link_to "products/3" do
            %figure.productList--img
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", height: '150px;', width: '220px;'
            .productList--body
              %h3.name product3
              .details
                %ul
                  %li 30000円
                  %li
                    = icon("fa", "star", class: "linkicon")
                    0
                %p (税込)
        .productList
          = link_to "products/2" do
            %figure.productList--img
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", height: '150px;', width: '220px;'
            .productList--body
              %h3.name product2
              .details
                %ul
                  %li 20000円
                  %li
                    = icon('fa', 'star', class: 'linkicon')
                    0
                %p (税込)
        .productList
          = link_to "products/1" do
            %figure.productList--img
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", height: '150px;', width: '220px;'
            .productList--body
              %h3.name product1
              .details
                %ul
                  %li 10000円
                  %li
                    = icon("fa", "star", class: "linkicon")
                    0
                %p (税込)