.side-menu
  .side-menu__bar
    %ul.side-menu__bar-list
      %li
        = link_to "/mypages/index" ,class: "side-menu__bar-list-item", method: :get do
          マイページ
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item"  do
          お知らせ
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          やることリスト
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          いいね！一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          出品する
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          出品した商品 - 出品中
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          出品した商品 - 取引中
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          出品した商品 - 売却済み
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          購入した商品 - 取引中
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          購入した商品 - 過去の取引
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          ニュース一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          評価一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          ガイド
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          お問い合わせ
          %i.fas.fa-chevron-right
    %h3.side-menu__bar-title フリペイ
    %ul.side-menu__bar-list
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          残高・振込申請
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          ポイント
          %i.fas.fa-chevron-right
    %h3.side-menu__bar-title 設定
    %ul.side-menu__bar-list
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          プロフィール
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          発送元・お届け先住所変更
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          支払い方法
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          メール/パスワード
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          本人情報
          %i.fas.fa-chevron-right
      %li
        = link_to "#" ,class: "side-menu__bar-list-item" do
          電話番号の確認
          %i.fas.fa-chevron-right
      %li
        = link_to "/mypages/logout" ,class: "side-menu__bar-list-item" do
          ログアウト
          %i.fas.fa-chevron-right