= render "layouts/header"
- breadcrumb :mypage
= render "layouts/bread_crumbs"
.wrapper
  = render partial: 'layouts/flash'
  .mypage-main-container.clearfix
    = render "side_menu"
    .mypage-content
      .mypage-header
        = link_to "#", class: "mypage-header__box" do
          = image_tag("member_photo_noimage_thumb.png",size: '60x60',  class: "mypage-header__box-icon")
          .mypage-header__box-name
            = current_user.name
          %span.mypage-header__box-evalution
            評価
          %span.mypage-header__box-evalution-count
            0
          %span.mypage-header__box-exhibitions
            出品数
          %span.mypage-header__box-exhibitions-count
            = current_user.products.count
      .mypage-tab__container
        %ul.tab-menu 
          %li.tab.is-active
            = link_to "お知らせ", "#", class: "tab is-active"
          %li.tab
            = link_to "やることリスト", "#", class: "tab"
        // タブ切替表示コンテンツ
        .panel-inner
          %ul.panel-group
            %li.panel.is-show
              現在、お知らせはありません
            %li.panel
              現在、やることリストはありません
      .mypage-tab__container-purchase
        .mypage-tab__container-purchase-head
          購入した商品
        %ul.tab-menu__purchase 
          %li.tab-purchase.is-current
            = link_to "取引", "#", class: "tab is-current"
          %li.tab-purchase
            = link_to "過去の取引", "#", class: "tab"
          // タブ切替表示コンテンツ
        .panel-purchase-inner
          %ul.panel-purchase-group
            %li.panel-purchase.is-open
              取引中の商品がありません
          - if @purchased_products.count != 0
            - @purchased_products.each do |product|
              %li.panel-purchase
                .purchased-list
                  = link_to product_path(product), class: "purchased-list__link" do
                    .purchased-list__link-inner
                      = image_tag product.images.first.src.url, class: "purchased-list__link-innerImg"
                    .purchased-list__link-body
                      .purchased-list__link-bodyText
                        = product.name
                      .purchased-list__link-bodyUnder
                        %span.purchased-list-count
                          %i.far.fa-heart
                          %span
                            = product.likes.count
                        %span.purchased-list-count
                          %i.far.fa-comment-alt
                          %span
                            = product.comments.count
                        .completed-list-status
                          取引完了
                    %i.fas.fa-chevron-right.arrowIcon  
          - else
            %li.panel-purchase
              .purchased-list-none
                現在、購入した商品はありません
  = render "layouts/footer"
  = render "exhibition_btn"