.body
  .content
    .header
      .header__logo
        = link_to image_tag('logo.png', class: 'header_logo'), root_path
        
    = form_for @product do |f|
      =render 'layouts/error_messages', model: f.object
      .itemphoto
        .itemphoto__box
          .itemphoto__box__label
            出品画像
            %span.required
              必須
          .itemphoto__box__content
            最大10枚までアップロードできます
          .itemphoto__box__select
            .itemphoto__box__select__1
              = icon('fas','camera')
              #image-box
                #previews
                  - if @product.persisted?
                    - @product.images.each_with_index do |image, i|
                      = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
                = f.fields_for :images do |image|
                  .js-file_group{"data-index" => "#{image.index}"}
                    = image.file_field :src, class: 'js-file'
                    %br/
                    %span.js-remove 削除
                  - if @product.persisted?
                    = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                - if @product.persisted?
                  .js-file_group{"data-index" => "#{@product.images.count}"}
                    = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
                    .js-remove 削除

              .itemphoto__box__select__text
                ドラッグアンドドロップまたはクリックしてファイルをアップロード
                  
      .itemSummary
        .itemSummary__name
          .itemSummary__name__label
            商品名
            %span.required
              必須
          .itemSummary__name__box
            = f.text_field :name, class:"item_name_textbox", maxlength:40, placeholder: "40文字まで"
        .itemSummary__description
          .itemSummary__description__label
            商品の説明
            %span.required
              必須
          .itemSummary__description__box
            = f.text_area :introduction, class:"item_name_area", maxlength:1000, placeholder: text_placeholder
          .itemSummary__description__counter
            0/1000
      %hr{color: "#efefef"}
      .itemDetails
        .itemDetails__title
          商品の詳細
        .itemDetails__catagorie
          .itemDetails__catagorie__label
            カテゴリー
            %span.required
              必須
          - if @url == "/products/#{@product.id}/edit"
            .itemDetails__catagorie__box
              = f.collection_select :category_id, @category, :id, :name, {selected: @product.category.root.id}, {class:"item_categorie_list", id: "parent_category"}
            .itemDetails__catagorie__box#children_wrapper
              = f.collection_select :category_id, @product.category.parent.siblings, :id, :name, {selected: @product.category.parent.id}, {class:"item_categorie_list", id: "child_category"}
            .itemDetails__catagorie__box#grandchildren_wrapper
              = f.collection_select :category_id, @product.category.siblings, :id, :name, {selected: @product.category.id}, {class:"item_categorie_list", id: "grandchild_category"}
            .itemDetails__size#size_wrapper
              サイズ
              %span.any
                任意
              .itemDetails__box
                =f.select :size, [["S"],["M"],["L"]],{include_blank: "選択してください",selected: @product.size}, { class: "itemDetails__box--size"}
          - else
            .itemDetails__catagorie__box
              = f.collection_select :category_id, @category, :id, :name, {include_blank: "選択してください"}, {class:"item_categorie_list", id: "parent_category"}
        .itemDetails__brand
          .itemDetails__brand__label
            ブランド
            %span.any
              任意
          .itemDetails__brand__box
            = f.text_field :brand, class:"item_brand", placeholder: "例）シャネル"
        .itemDetails__status
          .itemDetails__status__label
            商品の状態
            %span.required
              必須
          .itemDetails__status__box
            = f.collection_select :condition_id, Condition.all, :id, :name, { include_blank: "選択してください" }
      %hr{color: "#efefef"}

      .itemDelivery
        .itemDelivery__caution
          配送について
          = link_to "https://www.mercari.com/jp/help_center/article/68/" do
            = icon("far", "question-circle", class: "question")
        .itemDelivery__cost
          配送料の負担
          %span.required
            必須
        .itemDelivery__box
          = f.collection_select :burden_id, Burden.all, :id, :name, { include_blank: "選択してください" }
        .itemDelivery__area
          配送元の地域
          %span.required
            必須
        .itemDelivery__box
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: "選択してください" }
        .itemDelivery__days
          配送までの日数
          %span.required
            必須
        .itemDelivery__box
          = f.collection_select :estimated_id, Estimated.all, :id, :name, { include_blank: "選択してください" }
      %hr{color: "#efefef"}

      .itemprice
        .itemprice__content
          .itemprice__content__range
            価格（¥300〜9,999,999）
            = link_to "https://www.mercari.com/jp/help_center/article/64/" do
              = icon("far", "question-circle", class: "question")
          .itemprice__content__label
            販売価格
            %span.required
              必須
            %span.yen
              ¥
              = f.number_field :price, class:"delivery_days_list"
          .itemprice__content__commission
            販売手数料（10%）
            %span.minus
              ―
          %hr{color: "#efefef"}
          .itemprice__content__profit
            販売利益
            %span.minus
              ―
        .itemprice__Exhibition
          .itemprice__Exhibition__btn
            = f.submit "出品する", class: "exhibition"
          .itemprice__Exhibition__draft
            %button.draft 下書きに保存
          .itemprice_Exhibition__Return
            .itemprice_Exhibition__Return__btn
              = link_to "もどる", :back, class: "back"
        .itemprice__caution
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

    .footer
      .footer__ul
      %ul
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
      .footer__logo
        = link_to image_tag('logo.png', class: 'footer_logo'), root_path
      .footer__trademark
        © FURIMA, Inc.