= render 'layouts/header'
= render 'layouts/bread_crumbs'
%main.main
  = render partial: 'layouts/flash'
  .firstBox
    .secondBox
      .topBox
        .itemBox
          %h1.itemBox__name 
            = @product.name
          .itemBox__body
            %ul.itemBox__body--img
              %li
                = image_tag @product.images.first.src.url, size: "560x352"
              %ul.imgs
                - @product.images.each do |i|
                  %li.imgs__list
                    = image_tag i.src.url, size: "140x87"
                - if @product.sales_status == "売却済み"
                  .soldout__tag
                    .soldout__tag__text
                      %p SOLD
                    .soldout__tag__back
            .itemBox__price
              %span 
                = "¥#{@product.price.to_s(:delimited)}" 
              .itemBox__price--tax
                %span (税込)
                %span 送料込み
            .itemBox__order
              - if @product.sales_status == "売却済み"
                .itemBox__order--soldoutBtn
                  売り切れました
              - elsif user_signed_in? && @product.user_id != current_user.id
                = link_to "購入画面に進む", buy_order_path(@product.id), class: "itemBox__order--progressBtn" 
              - else
            .itemBox__detail
              = @product.introduction
            .table
              %table
                %tr
                  %th 出品者
                  %td= @product.user.name
                %tr
                  %th カテゴリー
                  %td
                    - @product.category.path.each do |category|
                      = link_to category.name, product_path(category), class: "table__link"
                      %br>/
                    %end
                %tr
                  %th ブランド
                  %td= @product.brand
                %tr
                  %th 商品のサイズ
                  %td= @product.size
                %tr
                  %th 商品の状態
                  %td= @product.condition.name
                %tr
                  %th 配送料の負担
                  %td= @product.burden.name
                %tr
                  %th 発送元の地域
                  %td
                    = link_to @product.prefecture.name, '#', class: "table__link"
                %tr
                  %th 発送日の目安
                  %td=@product.estimated.name
            .optionalArea
              %ul
                -if user_signed_in? && @product.user_id == current_user.id
                  - if current_user.already_liked?(@product)
                    %li
                      = button_to product_like_path(@product), class: "likeBtn", method: :delete do
                        %i.fa.fa-star
                        いいね！を取り消す
                        %span=@product.likes.count 
                  - else
                    %li
                      = button_to product_likes_path(@product), class:"likeBtn" do
                        %i.fa.fa-star
                        いいね！
                - else
                  %li
                    %i.fa.fa-star.likeBtn
                      いいね！
              %ul.optinal
                %li.optional__btn
                  = link_to '#', class: "optional__btn--text" do
                    %i.fa.fa-flag
                    不適切な商品の通報
          - if user_signed_in? && @product.user_id == current_user.id
            .changeBox
              = link_to '商品の編集', edit_product_path(@product), class: "changeBox__editBtn"
              %p.changeBox__text
                or
              = link_to 'この商品を削除する', product_path(@product), method: :delete, class: "changeBox__deleteBtn", id: "delete-js-modal__open"
              = render "layouts/delete_modal"
          .commentBox
            %ul.commentBox-inner
              -if @comments
                -@product.comments.each do |comment|
                  %li.commentBox-innerList
                    .comment-user
                      = image_tag("member_photo_noimage_thumb.png",size: '60x60',  class: "comment-user-image")
                      .comment-user-name
                        = comment.user.name
                    .comment-body
                      = comment.text
                      .comment-icons
                        .comment-icons-left
                          %i.far.fa-clock
                          %span
                            = time_ago_in_words(comment.created_at)+"前"
                        .comment-icons-right
                          .comment-delete
                            - if user_signed_in? && comment.user_id == current_user.id  || @product.user_id == current_user.id
                              = link_to product_comment_path(@product,comment), method: :delete do
                                %i.fas.fa-trash-alt
          .buttonBox
            = form_with(model: [@product, @comment], method: :post, local: true) do |f|
              -# %input{:name => "userid", :type => "hidden", :value => "#"}
              = f.text_area :text, id: "textarea", class: "textarea"
              %p.text
                相手のことを考え丁寧なコメントを心がけましょう。
                %br>/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              - if @product.sales_status != 3
                = button_tag class: "commentBtn" ,type: "submit" do
                  .fa.fa-comment
                  コメントする
              - else
                .commentBtn-sold 売り切れのためコメントできません
        %ul.links
          %li
            = link_to '#', class: "links__etc" do
              %i.fa.fa-angle-left
              前の商品
          %li
            = link_to '#', class: "links__etc " do
              後ろの商品
              %i.fa.fa-angle-right
        .relatedItem
          = link_to "#{@product.category.root.name}をもっと見る", product_path(@product.category.root.id), class: "relatedItem__etc"
= render 'layouts/aside'
= render 'layouts/footer'
= render 'mypages/exhibition_btn'