%nav.breadCrumbs
  %ul.bread
    %li.bread__list
      = link_to 'FURIMA', '#', class: "bread__list--link" 
    %li.bread__list
      = link_to '#' do
        %i.fa.fa-angle-right
    %li.bread__list
      = link_to 'レディース', '#', class: "bread__list--link" 
    %li.bread__list
      = link_to '#' do
        %i.fa.fa-angle-right
    %li.bread__list
      = link_to 'トップス', '#', class: "bread__list--link"
    %li.bread__list
      = link_to '#' do
        %i.fa.fa-angle-right
    %li.bread__list
      = link_to 'Tシャツ/カットソー(半袖/袖なし)', '#', class: "bread__list--link"
    %li.bread__list
      = link_to '#' do
        %i.fa.fa-angle-right
    %li.bread__list product